@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=cyrillic')
;

body {
  color: #fff;

  font-family: "Fira Mono", monospace;

-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

section{
  height: 80vh;

  background-image:url("bg.jpg");
  background-position: center;
  background-size: cover;
}
